# For Loops in Python

A **for loop** is used to iterate over a sequence (like a list, tuple, string, or range). It's perfect when you know what you want to loop through.

## Basic Syntax

```python
for item in sequence:
    # code to execute for each item
```

In [4]:
a= [1,4,5,7]


for i in a:
    print(i)

1
4
5
7

In [6]:
for j in a:
    j=j+3
    print(j)

4
7
8
10

In [8]:
b=(1,4,"Nitesh",8)
b

(1, 4, 'Nitesh', 8)

In [9]:
for i in b:
    print(i)

1
4
Nitesh
8

In [10]:
student_grades = {"Alice": 95, "Bob": 87, "Charlie": 92}

In [13]:
student_grades.keys()

dict_keys(['Alice', 'Bob', 'Charlie'])

In [14]:
student_grades.values()

dict_values([95, 87, 92])

In [15]:
student_grades.items()

dict_items([('Alice', 95), ('Bob', 87), ('Charlie', 92)])

In [11]:
for j in student_grades:
    print(j)

Alice
Bob
Charlie

In [17]:
for j,k in student_grades.items():
    print(j,k)

Alice 95
Bob 87
Charlie 92

In [ ]:
a= "  Aditya"

In [20]:
for i in a:
    print(i)

A
d
i
t
y
a

In [23]:
ss = """ I am learning GenAi """

In [24]:
for i in ss:
    print(i)

I

a
m

l
e
a
r
n
i
n
g

G
e
n
A
i

In [26]:
a = range(5)
type(a)

range

In [28]:
b = list(a)
b

[0, 1, 2, 3, 4]

In [30]:
a1= range(2,10)
b1= list(a1)
b1

[2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
a2= range(2,10,3)
b2= list(a2)
b2

[2, 5, 8]

In [32]:
# i have to genrate a number from 0 to 10 using for loop and range
for i in  range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
# odd number from 0 to 20 using for and range
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## Example 1: Iterating Over a List

In [34]:
fruits = ['apple', 'banana', 'orange', 'grape']

for fruit in fruits:
    print(f"I love {fruit}!")

I love apple!
I love banana!
I love orange!
I love grape!

## Example 2: Using range() Function

In [35]:
# Print numbers 1 to 5
for i in range(1, 6):
    print(f"Number: {i}")

print("\n" + "="*30 + "\n")

# Print even numbers from 0 to 10
for i in range(0, 11, 2):  # start, stop, step
    print(f"Even number: {i}")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

==============================

Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10

## Example 3: Iterating Over Strings

In [ ]:
word = "Python"

for letter in word:
    print(f"Letter: {letter}")

print("\n" + "="*30 + "\n")

# Count vowels in a word
vowels = "aeiou"
vowel_count = 0

for letter in word.lower():
    if letter in vowels:
        vowel_count += 1
        print(f"Found vowel: {letter}")
        
print(f"Total vowels in '{word}': {vowel_count}")

In [2]:
colors = ['red', 'green', 'blue', 'yellow']

In [4]:
for i,j in enumerate(colors,2):
    print(i,j)

2 red
3 green
4 blue
5 yellow

## Example 4: Using enumerate() for Index and Value

In [ ]:
colors = ['red', 'green', 'blue', 'yellow']

for index, color in enumerate(colors):
    print(f"Color {index}: {color}")

print("\n" + "="*30 + "\n")

# Start enumeration from 1 instead of 0
for index, color in enumerate(colors, 1):
    print(f"Color {index}: {color}")

## Example 5: Nested For Loops

In [1]:
# Multiplication table
for i in range(1, 4):
    for j in range(1, 4):
        result = i * j
        print(f"{i} x {j} = {result}")
    print("---")  # Separator between tables

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---

## Example 6: List Comprehensions (Advanced)

In [ ]:
# Traditional for loop to create a list of squares
squares = []
for i in range(1, 6):
    squares.append(i ** 2)
print(f"Squares (traditional): {squares}")

# List comprehension (more concise)
squares_comp = [i ** 2 for i in range(1, 6)]
print(f"Squares (comprehension): {squares_comp}")

# List comprehension with condition
even_squares = [i ** 2 for i in range(1, 11) if i % 2 == 0]
print(f"Even squares: {even_squares}")

## Break and Continue in For Loops

In [ ]:
# Using break to exit early
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Finding first number greater than 5:")
for num in numbers:
    if num > 5:
        print(f"Found: {num}")
        break
    print(f"Checking: {num}")

print("\n" + "="*30 + "\n")

# Using continue to skip iterations
print("Printing only odd numbers:")
for num in numbers:
    if num % 2 == 0:  # Skip even numbers
        continue
    print(f"Odd number: {num}")

## Working with Dictionaries

In [ ]:
student_grades = {
    'Alice': 85,
    'Bob': 92,
    'Charlie': 78,
    'Diana': 96
}

# Iterate over keys
print("Student names:")
for name in student_grades:
    print(name)

print("\n" + "="*30 + "\n")

# Iterate over key-value pairs
print("Student grades:")
for name, grade in student_grades.items():
    print(f"{name}: {grade}")

print("\n" + "="*30 + "\n")

# Iterate over values
print("All grades:")
for grade in student_grades.values():
    print(grade)

## Practice Exercises

Now it's your turn! Complete the following exercises:

### Exercise 1: Sum of Numbers
Calculate the sum of all numbers from 1 to 100 using a for loop.

In [ ]:
# TODO: Calculate sum of numbers from 1 to 100
total = 0

# Your code here


print(f"Sum of numbers 1 to 100: {total}")

### Exercise 2: Shopping List Manager
Create a program that processes a shopping list and calculates the total cost.

In [ ]:
shopping_list = [
    {'item': 'apples', 'price': 3.50, 'quantity': 2},
    {'item': 'bread', 'price': 2.25, 'quantity': 1},
    {'item': 'milk', 'price': 4.00, 'quantity': 1},
    {'item': 'eggs', 'price': 6.00, 'quantity': 1}
]

total_cost = 0

print("Shopping Receipt:")
print("-" * 40)

# TODO: Loop through shopping list and calculate total
# For each item, print: "item_name x quantity = $cost"
# Add the cost to total_cost



print("-" * 40)
print(f"Total Cost: ${total_cost:.2f}")

### Exercise 3: Password Strength Checker
Check if a password meets certain criteria using a for loop.

In [ ]:
password = "MySecure123!"

# Initialize counters
has_uppercase = False
has_lowercase = False
has_digit = False
has_special = False

special_chars = "!@#$%^&*()_+-=[]{}|;:,.<>?"

# TODO: Loop through each character in password
# Check if it's uppercase, lowercase, digit, or special character
# Set the corresponding boolean variables to True



# Check password strength
criteria_met = sum([has_uppercase, has_lowercase, has_digit, has_special])
is_long_enough = len(password) >= 8

print(f"Password: {password}")
print(f"Length >= 8: {is_long_enough}")
print(f"Has uppercase: {has_uppercase}")
print(f"Has lowercase: {has_lowercase}")
print(f"Has digit: {has_digit}")
print(f"Has special character: {has_special}")

if is_long_enough and criteria_met >= 3:
    print("‚úÖ Strong password!")
elif criteria_met >= 2:
    print("‚ö†Ô∏è Medium strength password")
else:
    print("‚ùå Weak password")

### Exercise 4: Pattern Generator
Create different patterns using nested for loops.

In [ ]:
print("Pattern 1: Right Triangle")
# TODO: Create a right triangle pattern like this:
# *
# **
# ***
# ****
# *****

rows = 5
# Your code here


print("\nPattern 2: Number Triangle")
# TODO: Create a number triangle like this:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5

# Your code here


print("\nPattern 3: Multiplication Table")
# TODO: Create a 5x5 multiplication table
# Format: "2 x 3 = 6"

# Your code here

### Exercise 5: Word Analysis
Analyze a sentence and provide statistics about it.

In [ ]:
sentence = "The quick brown fox jumps over the lazy dog"

# Initialize counters
word_count = 0
char_count = 0
vowel_count = 0
consonant_count = 0

vowels = "aeiouAEIOU"
words = sentence.split()

# TODO: Count total words
word_count = len(words)

# TODO: Loop through each character in the sentence
# Count total characters, vowels, and consonants
# Skip spaces and punctuation for vowel/consonant count



print(f"Sentence: '{sentence}'")
print(f"Word count: {word_count}")
print(f"Character count: {char_count}")
print(f"Vowel count: {vowel_count}")
print(f"Consonant count: {consonant_count}")

# TODO: Find the longest word
longest_word = ""
# Your code here


print(f"Longest word: '{longest_word}' ({len(longest_word)} characters)")

### Exercise 6: Grade Calculator
Process student data and calculate class statistics.

In [ ]:
students = [
    {'name': 'Alice', 'scores': [85, 92, 78, 96, 88]},
    {'name': 'Bob', 'scores': [79, 85, 90, 82, 87]},
    {'name': 'Charlie', 'scores': [92, 88, 84, 90, 85]},
    {'name': 'Diana', 'scores': [96, 94, 89, 92, 98]},
    {'name': 'Eve', 'scores': [73, 81, 79, 85, 80]}
]

print("Student Report Card")
print("=" * 50)

class_total = 0
student_count = len(students)

# TODO: For each student:
# 1. Calculate their average score
# 2. Determine their letter grade (A: 90+, B: 80-89, C: 70-79, D: 60-69, F: <60)
# 3. Add their average to class_total
# 4. Print: "Name: Average (Letter Grade)"



# Calculate class average
class_average = class_total / student_count

print("=" * 50)
print(f"Class Average: {class_average:.2f}")

# TODO: Find the student with highest average
top_student = ""
highest_average = 0

# Your code here


print(f"Top Student: {top_student} ({highest_average:.2f})")

## Advanced Challenge: FizzBuzz
The classic programming problem!

In [ ]:
# TODO: FizzBuzz Challenge
# For numbers 1 to 100:
# - If divisible by 3: print "Fizz"
# - If divisible by 5: print "Buzz"
# - If divisible by both 3 and 5: print "FizzBuzz"
# - Otherwise: print the number

# Your code here

In [ ]:
#      *
# *         *
# ***
# ****
# *****

## Key Takeaways

- **For loops** are perfect for iterating over sequences
- Use **range()** to generate number sequences
- **enumerate()** gives you both index and value
- **List comprehensions** provide a concise way to create lists
- **break** exits the loop early, **continue** skips to next iteration
- Nested loops let you work with multi-dimensional data

Great job completing the for loop tutorial! üêç