In [ ]:
# Without a loop (repetitive and inefficient):
print("Welcome!")
print("Welcome!")
print("Welcome!")
print("Welcome!")
print("Welcome!")

In [ ]:
# With a loop (clean and efficient):
for i in range(5):
    print("Welcome!")

In [ ]:
for variable_name in sequence:
    # Code to execute repeatedly
    # This code is indented (4 spaces or 1 tab)

# Key Components:

* for - The keyword that starts the loop
* variable_name - A temporary variable that changes each iteration
* in - Keyword that connects the variable to the sequence
* sequence - What you're looping through (numbers, lists, strings, etc.)
* : (colon) - Marks the end of the for loop declaration
* Indented code block - The code that gets repeated

In [1]:
for i in range(3):
    print(f"Loop number: {i}")
    print("This is inside the loop")
print("This is outside the loop")

Loop number: 0
This is inside the loop
Loop number: 1
This is inside the loop
Loop number: 2
This is inside the loop
This is outside the loop

In [ ]:
# Creates numbers from 0 to stop-1
for i in range(5):
    print(i)

In [ ]:
# Creates numbers from start to stop-1
for i in range(2, 8):
    print(i)

In [1]:
# Creates numbers from start to stop-1, incrementing by step
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [ ]:
# Counting backwards
for i in range(10, 0, -1):
    print(i)
# Output: 10, 9, 8, 7, 6, 5, 4, 3, 2, 1

# Even numbers
for i in range(0, 11, 2):
    print(i)
# Output: 0, 2, 4, 6, 8, 10

# Negative numbers
for i in range(-5, 1):
    print(i)
# Output: -5, -4, -3, -2, -1, 0

In [ ]:
# range() creates a sequence, but doesn't store all numbers in memory
print(range(5))        # Output: range(0, 5)
print(list(range(5)))  # Output: [0, 1, 2, 3, 4]

# Step-by-step execution:

* First iteration: number = 1
* Second iteration: number = 2
*  Third iteration: number = 3

* Variable Naming:
* You can use any name for your loop variable:

In [ ]:
# Common names:
for i in range(3):          # 'i' for index/iteration
    print(i)

for count in range(3):      # Descriptive names
    print(count)

for x in range(3):          # Single letters
    print(x)

In [ ]:
for i in range(3):
    print(f"Inside loop: i = {i}")

print(f"Outside loop: i = {i}")  # i still exists and equals 2

In [ ]:
# Basic list looping
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
    print(f"I like {fruit}")

In [ ]:
# Getting index and value using enumerate()
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Position {index}: {fruit}")

In [ ]:
# Accessing by index (traditional way)
fruits = ["apple", "banana", "cherry"]

for i in range(len(fruits)):
    print(f"Position {i}: {fruits[i]}")

In [ ]:
 # using for loop and range we have print square of number from 0 to 20

In [3]:
for i in range(21):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [7]:
number  = 5
x=1
for i in range(1,number+1):
    x=x*i
print(x)

120

In [ ]:
# Each character in a string
word = "Python"

for letter in word:
    print(f"Letter: {letter}")

In [ ]:
# With index
word = "Hello"

for i, letter in enumerate(word):
    print(f"Position {i}: {letter}")

In [ ]:
# Dictionary basics
student_grades = {"Alice": 95, "Bob": 87, "Charlie": 92}

# Loop through keys
for name in student_grades:
    print(f"Student: {name}")

# Loop through values
for grade in student_grades.values():
    print(f"Grade: {grade}")

# Loop through key-value pairs
for name, grade in student_grades.items():
    print(f"{name} scored {grade}")

In [ ]:
coordinates = [(1, 2), (3, 4), (5, 6)]

for x, y in coordinates:
    print(f"Point at ({x}, {y})")

In [ ]:
unique_colors = {"red", "blue", "green", "red", "blue"}

for color in unique_colors:
    print(f"Color: {color}")
# Note: Sets don't maintain order, so output order may vary

In [ ]:
numbers = [10, 20, 30, 40, 50]
total = 0

for number in numbers:
    total = total + number
    print(f"Adding {number}, total is now {total}")

print(f"Final sum: {total}")

In [ ]:
animals = ["cat", "dog", "cat", "bird", "cat", "fish"]
cat_count = 0

for animal in animals:
    if animal == "cat":
        cat_count = cat_count + 1

print(f"Number of cats: {cat_count}")

In [ ]:
numbers = [45, 23, 67, 89, 12, 95, 34]
max_number = numbers[0]  # Start with first number

for number in numbers:
    if number > max_number:
        max_number = number

print(f"The largest number is: {max_number}")

In [ ]:
# Finding the first even number
numbers = [1, 3, 7, 8, 9, 10, 11]

for number in numbers:
    print(f"Checking {number}")
    if number % 2 == 0:  # If number is even
        print(f"Found first even number: {number}")
        break  # Stop the loop here
    print(f"{number} is odd, continuing...")

print("Loop finished")

In [ ]:
# Print only positive numbers
numbers = [-2, 5, -1, 8, -3, 12]

for number in numbers:
    if number < 0:
        continue  # Skip negative numbers
    print(f"Positive number: {number}")

In [ ]:
# Keep asking for valid input
valid_colors = ["red", "blue", "green", "yellow"]

for attempt in range(3):  # Give user 3 attempts
    color = input("Enter a color (red, blue, green, yellow): ").lower()
    
    if color in valid_colors:
        print(f"Great! You chose {color}")
        break
    else:
        print("Invalid color, try again")
        if attempt == 2:  # Last attempt
            print("Too many invalid attempts!")

In [ ]:
for i in range(3):
    print(f"Outer loop: i = {i}")
    for j in range(2):
        print(f"  Inner loop: j = {j}")
    print("  Inner loop finished")
print("Outer loop finished")

In [ ]:
rows = 4
cols = 6

for i in range(rows):
    for j in range(cols):
        print("*", end="")
    print()  # New line after each row

In [9]:
x= [1, 4, 9 ,10 ,5, 4, 3]
# print the even number from this list  using for loop

In [ ]:

for  i in x:
    if i%2==0:
        print(f"even number:{i}")
        break

even number:4

In [15]:

for  i in x:
    if i%2==0:
        continue
        print(f"even number:{i}")
    else:
        print(f"odd number:{i}")

odd number:1
odd number:9
odd number:5
odd number:3

In [ ]:
for i in x:
    for j in k:
        break

In [11]:
for  i in x:
    if i%2==0:
        print(f"even number:{i}")
    else:
        print(f"odd number:{i}")

odd number:1
even number:4
odd number:9
even number:10
odd number:5
even number:4
odd number:3

In [ ]:
for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()

In [16]:
# 2D list (list of lists)
a= [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [20]:
len(a)

3

In [17]:
a[0]

[1, 2, 3]

In [18]:
a[0][1]

2

In [19]:
for  i in a:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [21]:
for i in a:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [22]:
for i in a:
    for j in i:
        if j==5:
            continue
        else:
            print(j)

1
2
3
4
6
7
8
9

In [ ]:
# Sum of squares
numbers = [1, 2, 3, 4, 5]
sum_of_squares = 0

for number in numbers:
    square = number * number
    sum_of_squares += square

print(f"Sum of squares: {sum_of_squares}")

In [ ]:
text = "hello world"
vowel_count = 0
vowels = "aeiou"

for letter in text:
    if letter.lower() in vowels:
        vowel_count += 1

print(f"Number of vowels: {vowel_count}")

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)

print(f"Even numbers: {even_numbers}")

In [ ]:
students = ["Alice", "Bob", "Charlie", "Diana"]
target = "Charlie"
found = False
position = -1

for i, student in enumerate(students):
    if student == target:
        found = True
        position = i
        break

if found:
    print(f"{target} found at position {position}")
else:
    print(f"{target} not found")

In [ ]:
# WRONG:
for i in range(5)
    print(i)

# CORRECT:
for i in range(5):
    print(i)

In [ ]:
# WRONG:
for i in range(3):
print(i)  # Not indented

# CORRECT:
for i in range(3):
    print(i)  # Properly indented

In [ ]:
# If you want numbers 1 to 10:
# WRONG:
for i in range(10):  # This gives 0 to 9
    print(i + 1)

# BETTER:
for i in range(1, 11):  # This gives 1 to 10
    print(i)

Prime Numbers: Find all prime numbers between 1 and 50
Matrix Addition: Add two 2D matrices together
Password Generator: Create a random password with letters, numbers, and symbols
Text Analysis: Count vowels, consonants, digits, and spaces in a sentence
Fibonacci Sequence: Generate the first 20 numbers in the Fibonacci sequence

numbers = [1, 3, 2, 3, 4, 2, 5] #duplicates finder

*
**
***
****
*****
****
***
**
*

In [ ]:
matrix = [[1, 3, 5], [7, 9, 4], [2, 8, 6]]
found = False

for i, row in enumerate(matrix):
    if found:
        break  # Exit outer loop if flag is set
    print(f"Checking row {i}: {row}")
    for j, number in enumerate(row):
        if number == 4:
            print(f"Found 4 at position ({i}, {j})")
            found = True
            break  # Exit inner loop and set flag
    if not found:
        print(f"  Didn't find 4 in row {i}")

print("Search completed")

In [ ]:
students = ["Alice", "Bob", "Charlie", "Diana"]

# Start counting from 1 instead of 0
for rank, student in enumerate(students, start=1):
    print(f"Rank {rank}: {student}")