## What are Sets?
* A set in Python is an unordered collection of unique elements. Think of it like a mathematical set - no duplicates allowed!
Key Characteristics:

* Unordered: Elements have no specific position
* Unique: No duplicate elements
* Mutable: You can add/remove elements (except frozenset)
* Iterable: You can loop through elements

# When to Use Sets:

* Remove duplicates from a list
* Check membership quickly
* Perform mathematical set operations
* Find common elements between collections

In [ ]:
# Empty set (Note: {} creates a dictionary, not a set!)
empty_set = set()

# Set with elements
fruits = {'apple', 'banana', 'orange'}
numbers = {1, 2, 3, 4, 5}
mixed = {1, 'hello', 3.14, True}

In [11]:
n={1,4,4,8,10}
n

{1, 4, 8, 10}

In [12]:
a =[1,2,4,10,10,9,8,7,7, 5,3,2,1]
a

[1, 2, 4, 10, 10, 9, 8, 7, 7, 5, 3, 2, 1]

In [13]:
b=set(a)
b

{1, 2, 3, 4, 5, 7, 8, 9, 10}

In [14]:
c =tuple(b)
c

(1, 2, 3, 4, 5, 7, 8, 9, 10)

In [ ]:
# This creates a dictionary, NOT a set!
wrong = {}  # This is a dictionary

# This creates an empty set
correct = set()  # This is a set

In [ ]:
# From a list
list_to_set = set([1, 2, 3, 2, 1])  # Result: {1, 2, 3}

# From a string
string_to_set = set('hello')  # Result: {'h', 'e', 'l', 'o'}

# From a tuple
tuple_to_set = set((1, 2, 3))  # Result: {1, 2, 3}

In [15]:
fruits = {'apple', 'banana'}

# Add a single element
fruits.add('orange')
print(fruits)  # {'apple', 'banana', 'orange'}

{'orange', 'apple', 'banana'}

In [16]:
# Add multiple elements
fruits.update(['grape', 'mango'])
print(fruits)  # {'apple', 'banana', 'orange', 'grape', 'mango'}

{'banana', 'apple', 'grape', 'mango', 'orange'}

In [18]:
fruits = {'apple', 'banana', 'orange'}

# Remove with error if not found
fruits.remove('banana')  # Raises KeyError if 'banana' not in set

fruits

{'apple', 'orange'}

In [21]:
fruits = {'apple', 'banana', 'orange'}
fruits

{'apple', 'banana', 'orange'}

In [22]:
a =fruits.remove('banana')
a

In [25]:
a= fruits.pop()
a

'apple'

In [19]:
fruits.remove('grapes')

KeyError: 'grapes'

In [20]:
# Remove without error if not found
fruits.discard('grape')  # No error even if 'grape' not in set

In [ ]:
# Remove and return arbitrary element
item = fruits.pop()  # Returns and removes a random element

# Clear all elements
fruits.clear()  # Set becomes empty

In [26]:
fruits = {'apple', 'banana', 'orange'}

# Check if element exists
print('apple' in fruits)      # True
print('grape' not in fruits)  # True

True
True

In [27]:
"grapes" in fruits

False

In [28]:
len(fruits)

3

In [ ]:
numbers = {1, 2, 3, 4, 5}

print(len(numbers))        # 5
print(bool(numbers))       # True (False if empty)
print(list(numbers))       # Convert to list: [1, 2, 3, 4, 5]

In [30]:
set1 = {1, 2, 8}
set2 = {3, 4, 5}

# Method 1: Using operator
union_result = set1 | set2

union_result

{1, 2, 3, 4, 5, 8}

In [31]:

# Method 2: Using method
union_result = set1.union(set2)
print(union_result)  # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 8}

* Difference (- or difference())
* Elements in first set but not in second.

In [33]:
set1 = {1, 2, 8}
set2 = {3, 4, 5}

# Method 1: Using operator
intersection_result = set1 & set2
intersection_result

set()

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Elements in set1 but not in set2
a1 = set1 - set2
a1

{1, 2}

In [35]:
a2 = set2 - set1
a2

{4, 5}

In [ ]:
# symmteric difference

In [39]:
set1 = {1, 2, 8,9}
set2 = {3, 4, 5,1,8}
b =set1^set2
b

{2, 3, 4, 5, 9}

* set relationship

In [45]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
set3 = {5, 6}
set4={3}

In [60]:
set2>=set1

True

In [58]:
set2>set1

True

In [59]:
set1>=set2

False

In [42]:
set1.issubset(set2)

True

In [43]:
set2.issuperset(set1)

True

In [44]:
set3.issubset(set2)

False

In [46]:
set4.issubset(set2)

True

In [55]:
set2>set4

True

In [56]:
set1.isdisjoint(set3)

True

In [ ]:
# Subset: all elements of set1 are in set2
print(set1.issubset(set2))     # True
print(set1 <= set2)            # True

# Superset: set2 contains all elements of set1
print(set2.issuperset(set1))   # True
print(set2 >= set1)            # True

# Disjoint: no common elements
print(set1.isdisjoint(set3))   # True

In [1]:
A = {1, 2, 3}
B = {1, 2, 3}
C = {1, 2, 3, 4}

# A is a subset of B (improper subset - they're equal)
print(A.issubset(B))    # True
print(A <= B)           # True

# A is a proper subset of C (A is smaller than C)
print(A.issubset(C))    # True
print(A < B)            # True (strict subset)

# Check if sets are equal
print(A == B)           # True

True
True
True
False
True

In [7]:
A = {1}
B = {1, 2, 3}
E = {1, 2, 3}
C = {1, 2, 3, 4}
d ={5}

In [14]:
d<A

False

In [16]:
d<C

False

In [3]:
A<B

True

In [4]:
A<=B

True

In [6]:
B>=A

True

In [11]:
B<=E

True

In [12]:
E>=B

True

In [13]:
C>E

True