In [ ]:
#lambda arguments: expression

#arguments â†’ input parameters (like function arguments).

#expression â†’ a single expression that is evaluated and returned.

#No need for return keyword â€” the value of the expression is automatically returned.

In [10]:
square = lambda x: x * x
print(square(5))  # 25

25

In [11]:
hello = lambda: "Hello World"
print(hello())  # Hello World

Hello World

In [12]:
double = lambda x: x * 2
print(double(4))  # 8

8

In [13]:
add = lambda a, b: a + b
print(add(3, 7))  # 10

10

In [14]:
power = lambda x, y=2: x ** y
print(power(5))    # 25 (5^2)
print(power(5, 3)) # 125 (5^3)

25
125

In [ ]:
maximum = lambda a, b: a if a > b else b
print(maximum(10, 20))  # 20

In [ ]:
#map(function, iterable)
#function â†’ A function (can be lambda or def) that processes each element.

#iterable â†’ A sequence (list, tuple, etc.) to apply the function on.

#Returns â†’ A map object (convert to list() or tuple() to see results).

In [8]:
nums = [1, 2, 3, 4, 5]

# Square each number
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
def square(x):
    return x**2

squares = list(map(square, nums))
print(squares)  # [1, 4, 9, 16, 25]
#Use map() when you want to transform each item of a list.

[1, 4, 9, 16, 25]

In [ ]:
#filter(function, iterable)
#function â†’ Returns True or False.

#iterable â†’ The sequence to filter.

#Returns â†’ A filter object (convert to list()).

In [6]:
nums = [10, 15, 20, 25, 30]

# Keep only even numbers
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # [10, 20, 30]

[10, 20, 30]

In [ ]:
def is_even(x):
    return x % 2 == 0

evens = list(filter(is_even, nums))
print(evens)  # [10, 20, 30]
#Use filter() when you want to pick elements that meet a condition.

[10, 20, 30]

In [ ]:
#from functools import reduce
#reduce(function, iterable, initializer(optional))

#function â†’ A function of 2 arguments that combines elements.

#iterable â†’ The sequence to reduce.

#initializer (optional) â†’ A starting value.

#Returns â†’ A single value.

In [16]:
from functools import reduce
nums = [1, 2, 3, 4]

# Multiply all numbers
product = reduce(lambda x, y: x * y, nums)
print(product)  # 24
#ðŸ’¡ Use reduce() when you want to collapse a list into one value (sum, product, etc.).

24

In [ ]:
from functools import reduce

def multiply(x, y):
    return x * y

product = reduce(multiply, [1, 2, 3, 4])
print(product)  # 24

In [ ]:
#sorted(iterable, key=function, reverse=False)

#iterable â†’ Sequence to sort.

#key â†’ Function to decide sorting criteria (default: natural order).

#reverse â†’ If True, sorts descending.

# Returns â†’ A new sorted list (doesnâ€™t change the original).
nums = [5, 2, 9, 1, 7]
print(sorted(nums))  # [1, 2, 5, 7, 9]

In [2]:
print(sorted(nums, reverse=True))  # [9, 7, 5, 2, 1]

[9, 7, 5, 2, 1]

In [3]:
words = ["apple", "banana", "kiwi", "cherry"]

sorted_words = sorted(words, key=lambda w: len(w))
print(sorted_words)  # ['kiwi', 'apple', 'cherry', 'banana']

['kiwi', 'apple', 'banana', 'cherry']

In [4]:
def word_length(w):
    return len(w)

sorted_words = sorted(words, key=word_length)
print(sorted_words)

['kiwi', 'apple', 'banana', 'cherry']

In [5]:
pairs = [(1, 3), (2, 1), (5, 2)]

# Sort by second element
sorted_pairs = sorted(pairs, key=lambda x: x[1])
print(sorted_pairs)  # [(2, 1), (5, 2), (1, 3)]

[(2, 1), (5, 2), (1, 3)]

In [ ]:
students = {"Alice": 85, "Bob": 72, "Charlie": 90}

# Sort by scores
sorted_students = sorted(students.items(), key=lambda x: x[1], reverse=True)
print(sorted_students)  # [('Charlie', 90), ('Alice', 85), ('Bob', 72)]