In [ ]:
#lambda arguments: expression

#arguments → input parameters (like function arguments).

#expression → a single expression that is evaluated and returned.

#No need for return keyword — the value of the expression is automatically returned.

In [ ]:
square = lambda x: x * x
print(square(5))  # 25

In [1]:
def add_number(a,b):
    return a+b

In [2]:
y= add_number(5,10)
y

15

In [3]:
add_num = lambda a,b:a+b

In [4]:
add_num(4,5)

9

In [ ]:
 # (4,3)-> 16+9-25

In [5]:
sum_squares = lambda a,b:a**2 +b**2
sum_squares(3,4)

25

In [6]:
hello = lambda: "Hello World"
print(hello())  # Hello World

Hello World

In [7]:
double = lambda x: x * 2
print(double(4))  # 8

8

In [8]:
add = lambda a, b: a + b
print(add(3, 7))  # 10

10

In [9]:
power = lambda x, y=2: x ** y
print(power(5))    # 25 (5^2)
print(power(5, 3)) # 125 (5^3)

25
125

In [10]:
maximum = lambda a, b: a if a > b else b
print(maximum(10, 20))  # 20

20

In [ ]:
#map(function, iterable)
#function → A function (can be lambda or def) that processes each element.

#iterable → A sequence (list, tuple, etc.) to apply the function on.

#Returns → A map object (convert to list() or tuple() to see results).

In [13]:
nums = [1, 2, 3, 4, 5]

#[15, 25, 35, 45, 55]

In [11]:
add_mul = lambda x:x*10 +5

In [16]:
out = list(map(add_mul, nums))

In [17]:
out

[15, 25, 35, 45, 55]

In [18]:
# Square each number
squares = list(map(lambda x: x**2, nums))
print(squares)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [19]:
def square(x):
    return x**2

In [20]:
squares = list(map(square, nums))
print(squares)  # [1, 4, 9, 16, 25]
#Use map() when you want to transform each item of a list.

[1, 4, 9, 16, 25]

In [ ]:
#filter(function, iterable)
#function → Returns True or False.

#iterable → The sequence to filter.

#Returns → A filter object (convert to list()).

In [25]:
nums = [10, 15, 20, 25, 30]
nums

[10, 15, 20, 25, 30]

In [26]:
even_num = lambda x: x%2==0

In [27]:
output = list(filter(even_num, nums))

In [28]:
output

[10, 20, 30]

In [ ]:
nums = [10, 15, 20, 25, 30]

# Keep only even numbers
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)  # [10, 20, 30]

In [ ]:
def is_even(x):
    return x % 2 == 0

evens = list(filter(is_even, nums))
print(evens)  # [10, 20, 30]
#Use filter() when you want to pick elements that meet a condition.

In [ ]:
#from functools import reduce
#reduce(function, iterable, initializer(optional))

#function → A function of 2 arguments that combines elements.

#iterable → The sequence to reduce.

#initializer (optional) → A starting value.

#Returns → A single value.

In [ ]:
from functools import reduce

In [38]:
pro=lambda x,y:x*y
out1 = reduce(pro,nums)

In [39]:
out1

24

In [36]:
from functools import reduce

def multiply(x, y):
    return x * y

product = reduce(multiply, [1, 2, 3, 4])
print(product)  # 24

24

In [40]:
#sorted(iterable, key=function, reverse=False)

#iterable → Sequence to sort.

#key → Function to decide sorting criteria (default: natural order).

#reverse → If True, sorts descending.

# Returns → A new sorted list (doesn’t change the original).
nums = [5, 2, 9, 1, 7]
print(sorted(nums))  # [1, 2, 5, 7, 9]

[1, 2, 5, 7, 9]

In [41]:
sorted(nums, reverse=True)

[9, 7, 5, 2, 1]

In [ ]:
print(sorted(nums, reverse=True))  # [9, 7, 5, 2, 1]

In [ ]:
words = ["apple", "banana", "kiwi", "cherry"]

#sorted(iterable, key=function, reverse=False)

#iterable → Sequence to sort.

#key → Function to decide sorting criteria (default: natural order).

#reverse → If True, sorts descending.

# Returns → A new sorted list (doesn’t change the original).

In [45]:
len_char = lambda x: len(x)

In [47]:
sorted(words, key=len_char, reverse=True)

['banana', 'cherry', 'apple', 'kiwi']

In [ ]:

sorted_words = sorted(words, key=lambda w: len(w))
print(sorted_words)  # ['kiwi', 'apple', 'cherry', 'banana']

In [ ]:
def word_length(w):
    return len(w)

sorted_words = sorted(words, key=word_length)
print(sorted_words)

In [52]:
pairs = [(1, 3), (2, 1), (5, 2)]

In [53]:
sam_alt = lambda x:x[1]

In [55]:
sorted(pairs, key= sam_alt, reverse=True)

[(1, 3), (5, 2), (2, 1)]

In [48]:
b=(1,4)
b[1]

4

In [ ]:
students = {"Alice": 85, "Bob": 72, "Charlie": 90}

# Sort by scores
sorted_students = sorted(students.items(), key=lambda x: x[1], reverse=True)
print(sorted_students)  # [('Charlie', 90), ('Alice', 85), ('Bob', 72)]