In [2]:
# Empty list
empty_list1 = []
empty_list2 = list()

In [3]:
empty_list1

[]

In [4]:
empty_list2

[]

In [ ]:
fruits = ["apple", "banana", "orange"]
numbers = [1, 2, 3, 4, 5]

In [5]:
mixed = ["hello", 42, 3.14, True, [1, 2, 3]]
mixed

['hello', 42, 3.14, True, [1, 2, 3]]

In [6]:
a = [1,'d', 'b', 3, 9]
a

[1, 'd', 'b', 3, 9]

In [7]:
a[0]

1

In [9]:
a[3]

3

In [10]:
a[-3]

'b'

In [13]:
t= ["hello", 42, 3.14, True, [1, 2, 3,'abc']]
t

['hello', 42, 3.14, True, [1, 2, 3, 'abc']]

In [14]:
t[4]

[1, 2, 3, 'abc']

In [15]:
t[4][3]

'abc'

In [16]:
t[4][1]

2

In [17]:
t

['hello', 42, 3.14, True, [1, 2, 3, 'abc']]

In [20]:
t[1:3]

[42, 3.14]

In [21]:
t[1:]

[42, 3.14, True, [1, 2, 3, 'abc']]

In [24]:
t[0:5:2]

['hello', 3.14, [1, 2, 3, 'abc']]

In [26]:
t =[5,13,19,1,10,5,8,18,24,36]
t

[5, 13, 19, 1, 10, 5, 8, 18, 24, 36]

In [28]:
t[3:7]

[1, 10, 5, 8]

In [29]:
t[3:]
# Lists with data

[1, 10, 5, 8, 18, 24, 36]

In [30]:
t[3::2]

[1, 5, 18, 36]

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

# Positive indexing (0, 1, 2, 3...)
print(fruits[0])     # "apple" (first item)
print(fruits[2])     # "orange" (third item)

# Negative indexing (-1, -2, -3...)
print(fruits[-1])    # "grape" (last item)
print(fruits[-2])    # "orange" (second to last)

# Slicing [start:end:step]
print(fruits[1:3])   # ["banana", "orange"] (items 1 to 2)
print(fruits[:2])    # ["apple", "banana"] (first 2 items)
print(fruits[2:])    # ["orange", "grape"] (from index 2 to end)
print(fruits[::2])   # ["apple", "orange"] (every 2nd item)

In [35]:
fruits = ["apple", "banana"]
fruits

['apple', 'banana']

In [36]:
fruits.append("orange")
fruits

['apple', 'banana', 'orange']

In [39]:
fruits[0]='Mango'
fruits

['Mango', 'banana', 'orange']

In [40]:
fruits.append('Grapes')
fruits

['Mango', 'banana', 'orange', 'Grapes']

In [41]:
fruits.insert(1, "Chheku")
fruits

['Mango', 'Chheku', 'banana', 'orange', 'Grapes']

In [42]:
fruits.extend(["papya", "kiwi"])
fruits

['Mango', 'Chheku', 'banana', 'orange', 'Grapes', 'papya', 'kiwi']

In [43]:
fruits.insert(1, ["pap", "kiw"])
fruits

['Mango',
 ['pap', 'kiw'],
 'Chheku',
 'banana',
 'orange',
 'Grapes',
 'papya',
 'kiwi']

In [50]:
a =[1,2,3,3]
b=[4,5,6]
c=a+b
c

[1, 2, 3, 3, 4, 5, 6]

In [51]:
c.remove(3)
c

[1, 2, 3, 4, 5, 6]

In [48]:
fruits

['Mango', ['pap', 'kiw'], 'Chheku', 'banana', 'Grapes', 'papya', 'kiwi']

In [49]:
fruits.remove('kiwi')
fruits

['Mango', ['pap', 'kiw'], 'Chheku', 'banana', 'Grapes', 'papya']

In [ ]:


# append() - Add to end
fruits.append("orange")
print(fruits)  # ["apple", "banana", "orange"]

# insert() - Add at specific position
fruits.insert(1, "grape")
print(fruits)  # ["apple", "grape", "banana", "orange"]

# extend() - Add multiple items
fruits.extend(["mango", "kiwi"])
print(fruits)  # ["apple", "grape", "banana", "orange", "mango", "kiwi"]

# + operator - Concatenate lists
more_fruits = fruits + ["pear", "peach"]
print(more_fruits)  # Original + new items

In [52]:
fruits

['Mango', ['pap', 'kiw'], 'Chheku', 'banana', 'Grapes', 'papya']

In [53]:
last_fruit = fruits.pop()
last_fruit

'papya'

In [54]:
fruits

['Mango', ['pap', 'kiw'], 'Chheku', 'banana', 'Grapes']

In [55]:
first_fruit=fruits.pop(2)
first_fruit

'Chheku'

In [56]:
fruits

['Mango', ['pap', 'kiw'], 'banana', 'Grapes']

In [57]:
del fruits[0]

In [58]:
fruits

[['pap', 'kiw'], 'banana', 'Grapes']

In [59]:
fruits.clear()
fruits

[]

In [ ]:
fruits = ["apple", "banana", "orange", "banana", "grape"]

# remove() - Remove first occurrence of value
fruits.remove("banana")
print(fruits)  # ["apple", "orange", "banana", "grape"]

# pop() - Remove and return item at index (default: last)
last_fruit = fruits.pop()
print(last_fruit)  # "grape"
print(fruits)      # ["apple", "orange", "banana"]

first_fruit = fruits.pop(0)
print(first_fruit)  # "apple"
print(fruits)       # ["orange", "banana"]

# del - Delete item(s) at index/slice
del fruits[0]
print(fruits)  # ["banana"]

# clear() - Remove all items
fruits.clear()
print(fruits)  # []

In [60]:
fruits = ["apple", "banana", "orange"]


print(fruits)  # ["mango", "kiwi", "orange"]

['apple', 'banana', 'orange']

In [61]:
# Change single item
fruits[1] = "grape"

In [62]:
fruits

['apple', 'grape', 'orange']

In [63]:


# Change multiple items
fruits[0:2] = ["mango", "kiwi"]
fruits

['mango', 'kiwi', 'orange']

In [66]:
n = [3, 1, 4, 1, 5, 9, 2, 6]

len(n)

8

In [68]:
n.count(6)

1

In [69]:
n.index(4)

2

In [70]:
n.sort()

In [71]:
n

[1, 1, 2, 3, 4, 5, 6, 9]

In [ ]:
n.reverse()

In [73]:
n

[9, 6, 5, 4, 3, 2, 1, 1]

In [74]:
n

[9, 6, 5, 4, 3, 2, 1, 1]

In [76]:
4 in n

True

In [ ]:
# Information methods
print(len(numbers))        # 8 (length)
print(numbers.count(1))    # 2 (count of 1s)
print(numbers.index(4))    # 2 (index of first 4)

# Sorting and reversing
numbers.sort()             # Sort in place
print(numbers)             # [1, 1, 2, 3, 4, 5, 6, 9]

numbers.reverse()          # Reverse in place
print(numbers)             # [9, 6, 5, 4, 3, 2, 1, 1]

# Non-modifying versions
original = [3, 1, 4, 1, 5]
sorted_copy = sorted(original)     # Returns new sorted list
reversed_copy = list(reversed(original))  # Returns new reversed list

# Check membership
print(3 in numbers)        # True
print(10 not in numbers)   # True

In [1]:
a=()

In [2]:
b=tuple()

In [3]:
c=(1,3)
c

(1, 3)

In [4]:
c[0]

1

In [5]:
c[0]=2

TypeError: 'tuple' object does not support item assignment

In [6]:
d=[1,3]
d[0]

1

In [7]:
d[0]=2

In [8]:
d

[2, 3]

In [9]:

cc = (3, 5, 4.5, "yogesh" , [1,2,3], True)
cc

(3, 5, 4.5, 'yogesh', [1, 2, 3], True)

In [11]:
cc[3]

'yogesh'

In [13]:
cc[4][1]

2

In [14]:
n1=(2,3,4)

In [19]:
w,x,y,z=(4,5,7,9)

In [20]:
x

5

In [21]:
y

7

In [22]:
z

9

In [23]:
w

4

In [100]:
x=(1,4,5)
y= reversed(x)
type(y)

reversed

In [101]:
y=x.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
# Empty tuple
empty_tuple = ()
empty_tuple = tuple()

# Tuples with data
coordinates = (3, 5)
colors = ("red", "green", "blue")
mixed = ("hello", 42, 3.14, True)

# Single item tuple (comma is important!)
single = (42,)    # With comma: tuple
not_tuple = (42)  # Without comma: just parentheses around number

# Without parentheses (tuple packing)
point = 10, 20
print(point)  # (10, 20)

In [94]:
colors = ("red", "green", "blue", "yellow")

print(colors[0])     # "red"
print(colors[-1])    # "yellow"
print(colors[1:3])   # ("green", "blue")

red
yellow
('green', 'blue')

In [95]:
reversed(colors)

In [97]:
a=reversed(colors)
a

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)

print(len(numbers))        # 6
print(numbers.count(2))    # 3
print(numbers.index(3))    # 2
print(2 in numbers)        # True

In [29]:
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers

In [25]:
first

1

In [26]:
last

5

In [27]:
middle

[2, 3, 4]

In [ ]:
# Basic unpacking
point = (10, 20)
x, y = point
print(f"x={x}, y={y}")  # x=10, y=20

# Multiple assignment
person = ("Alice", 25, "Engineer")
name, age, job = person

# Swapping variables
a, b = 5, 10
a, b = b, a  # Now a=10, b=5

# Extended unpacking (Python 3+)
numbers = (1, 2, 3, 4, 5)
first, *middle, last = numbers
print(first)   # 1
print(middle)  # [2, 3, 4]
print(last)    # 5

In [30]:
# Empty dictionary
empty_dict = {}
empty_dict = dict()

In [36]:
empty_dict

{}

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
prices = {"apple": 1.50, "banana": 0.75, "orange": 2.00}

In [39]:
student.keys()

dict_keys(['name', 'age', 'grade'])

In [40]:
student.values()

dict_values(['Alice', 20, 'A'])

In [41]:
student["age"]

20

In [42]:
person = dict(name="Bob", age=30, city="New York")

In [43]:
person

{'name': 'Bob', 'age': 30, 'city': 'New York'}

In [44]:
# From list of tuples
items = [("a", 1), ("b", 2), ("c", 3)]
my_dict = dict(items)

In [45]:
my_dict

{'a': 1, 'b': 2, 'c': 3}

In [46]:
a2= dict([("Name","Aditya")])

In [47]:
a2

{'Name': 'Aditya'}

In [ ]:


# Dictionary with data
student = {"name": "Alice", "age": 20, "grade": "A"}
prices = {"apple": 1.50, "banana": 0.75, "orange": 2.00}

# Using dict() constructor
person = dict(name="Bob", age=30, city="New York")

# From list of tuples
items = [("a", 1), ("b", 2), ("c", 3)]
my_dict = dict(items)

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [50]:
student["grade"]

'A'

In [51]:
student.get("grade")

'A'

In [52]:
student["height"]

KeyError: 'height'

In [54]:
a=student.get("height")
a

In [55]:
student = {"name": "Alice", "age": 20, "grade": "A"}

# Direct access
print(student["name"])     # "Alice"

# get() method (safe access)
print(student.get("age"))           # 20
print(student.get("height", 10))     # 0 (default value)

Alice
20
10

In [56]:
student.get("height")

In [60]:
student.get("School", "None")

'None'

In [ ]:
# get() method (safe access)
print(student.get("age"))           # 20
print(student.get("height", 0))     # 0 (default value)

# Check if key exists
print("grade" in student)           # True
print("height" in student)          # False

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}

# Direct access
print(student["name"])     # "Alice"

# get() method (safe access)
print(student.get("age"))           # 20
print(student.get("height", 0))     # 0 (default value)

# Check if key exists
print("grade" in student)           # True
print("height" in student)          # False

In [62]:
student = {"name": "Alice", "age": 20}

# Add new key-value pair
student["grade"] = "A"
student["city"] = "Boston"
student

{'name': 'Alice', 'age': 20, 'grade': 'A', 'city': 'Boston'}

In [63]:
student["school"]="KV"

In [64]:
student

{'name': 'Alice', 'age': 20, 'grade': 'A', 'city': 'Boston', 'school': 'KV'}

In [65]:
# update() method
student.update({"height": 165, "weight": 55})

In [66]:
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A',
 'city': 'Boston',
 'school': 'KV',
 'height': 165,
 'weight': 55}

In [67]:
student.update(grade="A+", gpa=3.9, bus_service= True)
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A+',
 'city': 'Boston',
 'school': 'KV',
 'height': 165,
 'weight': 55,
 'gpa': 3.9,
 'bus_service': True}

In [68]:
student.update(marks={"sci":45,"math":92,"history":32}, subject_code=[1,8,9,5])

In [69]:
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A+',
 'city': 'Boston',
 'school': 'KV',
 'height': 165,
 'weight': 55,
 'gpa': 3.9,
 'bus_service': True,
 'marks': {'sci': 45, 'math': 92, 'history': 32},
 'subject_code': [1, 8, 9, 5]}

In [70]:
student.update(coord=(4,95))

In [71]:
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A+',
 'city': 'Boston',
 'school': 'KV',
 'height': 165,
 'weight': 55,
 'gpa': 3.9,
 'bus_service': True,
 'marks': {'sci': 45, 'math': 92, 'history': 32},
 'subject_code': [1, 8, 9, 5],
 'coord': (4, 95)}

In [72]:
student['marks']

{'sci': 45, 'math': 92, 'history': 32}

In [73]:
student['marks']['math']

92

In [74]:
student['subject_code'][2]

9

In [76]:
student['coord'][0]

4

In [77]:
student.update(un=(1,4,[25,{"agg":56}]))

In [78]:
student

{'name': 'Alice',
 'age': 20,
 'grade': 'A+',
 'city': 'Boston',
 'school': 'KV',
 'height': 165,
 'weight': 55,
 'gpa': 3.9,
 'bus_service': True,
 'marks': {'sci': 45, 'math': 92, 'history': 32},
 'subject_code': [1, 8, 9, 5],
 'coord': (4, 95),
 'un': (1, 4, [25, {'agg': 56}])}

In [84]:
student['un'][2][1]['agg']

56

In [ ]:
# Modify existing value
student["age"] = 21

# update() method
student.update({"height": 165, "weight": 55})
student.update(grade="A+", gpa=3.9)

In [ ]:
student = {"name": "Alice", "age": 20}

# Add new key-value pair
student["grade"] = "A"
student["city"] = "Boston"

# Modify existing value
student["age"] = 21

# update() method
student.update({"height": 165, "weight": 55})
student.update(grade="A+", gpa=3.9)

print(student)

In [85]:
student = {"name": "Alice", "age": 20, "grade": "A", "city": "Boston"}

# pop() - Remove and return value
grade = student.pop("grade")
print(grade)    # "A"

A

In [86]:
student

{'name': 'Alice', 'age': 20, 'city': 'Boston'}

In [87]:
# pop() with default
height = student.pop("height", "Unknown")
print(height)   # "Unknown"

Unknown

In [88]:
# del - Delete key-value pair
del student["city"]

In [89]:
student

{'name': 'Alice', 'age': 20}

In [ ]:
# popitem() - Remove and return last item
key, value = student.popitem()
print(f"Removed: {key} = {value}")

# clear() - Remove all items
student.clear()

In [ ]:
student = {"name": "Alice", "age": 20, "grade": "A"}

# Get all keys, values, items
print(student.keys())      # dict_keys(['name', 'age', 'grade'])
print(student.values())    # dict_values(['Alice', 20, 'A'])
print(student.items())     # dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A')])

# Copy dictionary
student_copy = student.copy()

# Length
print(len(student))        # 3

In [90]:
student = {"name": "Alice", "age": 20, "grade": "A"}

In [92]:
student.items()

dict_items([('name', 'Alice'), ('age', 20), ('grade', 'A')])