In [1]:
class Student:
    # Class attribute
    school = "Python Academy"
    
    def __init__(self, name, age, grade):
        # Instance attributes
        self.name = name
        self.age = age
        self.grade = grade
        self.subjects = []
    
    # Instance method
    def introduce(self):
        return f"Hi, I'm {self.name}, {self.age} years old, in grade {self.grade}"
    
    # Instance method that modifies instance data
    def add_subject(self, subject):
        self.subjects.append(subject)
        return f"Added {subject} to {self.name}'s subjects"
    
    # Instance method that uses both instance and class data
    def get_info(self):
        return f"{self.name} studies at {self.school} and takes {len(self.subjects)} subjects"

In [2]:
a1 = Student("Sravanti", 24, "A+")

In [3]:
a1.name

'Sravanti'

In [4]:
a1.introduce()

"Hi, I'm Sravanti, 24 years old, in grade A+"

In [5]:
a1.add_subject("Math")

"Added Math to Sravanti's subjects"

In [6]:
a1.subjects

['Math']

In [7]:
a1.get_info()

'Sravanti studies at Python Academy and takes 1 subjects'

# class method 
Class methods:
- Use the `@classmethod` decorator
- Take `cls` as the first parameter (refers to the class itself)
- Can access and modify class attributes
- Cannot access instance attributes directly
- Can be called on both the class and instances
- Often used as alternative constructors

In [ ]:
class Employee:
    # Class attributes
    company = "TechCorp"
    employee_count = 0
    raise_amount = 1.05  # 5% raise
    
    def __init__(self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary
        self.email = f"{first.lower()}.{last.lower()}@{self.company.lower()}.com"
        
        # Increment employee count when new employee is created
        Employee.employee_count += 1
    
    # Instance method
    def fullname(self):
        return f"{self.first} {self.last}"
    
    # Instance method
    def apply_raise(self):
        self.salary = int(self.salary * self.raise_amount)
       
        
        
        
        
    
    # Class method - alternative constructor
    @classmethod
    def from_string(cls, emp_str):
        """Create employee from string format: 'First-Last-Salary'"""
        first, last, salary = emp_str.split('-')
        return cls(first, last, int(salary))
    
    # Class method - modify class attribute
    @classmethod
    def set_raise_amount(cls, amount):
        """Set the raise amount for all employees"""
        cls.raise_amount = amount
        return f"Raise amount set to {amount}"
    
    # Class method - access class data
    @classmethod
    def get_employee_count(cls):
        return f"Total employees: {cls.employee_count}"

In [17]:
# Regular constructor
emp1 = Employee("Aditya", "kumar", 500000)
emp2 = Employee("Anil", "Raghavan", 600000)

In [36]:
emp1.fullname()

'Aditya kumar'

In [37]:
emp1.get_employee_count()

'Total employees: 12'

In [11]:
emp1.first

'Aditya'

In [12]:
emp1.email

'aditya.kumar@techcorp.com'

In [15]:
emp1.set_raise_amount(40000)

'Raise amount set to 40000'

In [18]:
emp2.first

'Anil'

In [19]:
emp2.last

'Raghavan'

In [20]:
emp2.salary

600000

In [21]:
emp2.email

'anil.raghavan@techcorp.com'

In [30]:
emp3=Employee.from_string("Yogesh-Patel-90000")

In [32]:
emp3.first

'Yogesh'

In [33]:
emp3.email

'yogesh.patel@techcorp.com'

In [35]:
emp3.salary

90000

In [29]:

print(f"Employee 1: {emp1.fullname()}, Salary: ${emp1.salary}")
print(f"Employee 2: {emp2.fullname()}, Salary: ${emp2.salary}")
print(Employee.get_employee_count())
print()

# Using class method as alternative constructor
emp3 = Employee.from_string("Mike-Johnson-55000")
print(f"Employee 3: {emp3.fullname()}, Email: {emp3.email}")
print(Employee.get_employee_count())
print()

# Using class method to modify class attribute
print(f"Current raise amount: {Employee.raise_amount}")
print(Employee.set_raise_amount(1.08))  # 8% raise
print(f"New raise amount: {Employee.raise_amount}")

# Apply raise to employees
emp1.apply_raise()
emp2.apply_raise()
print(f"After raise - Employee 1: ${emp1.salary}, Employee 2: ${emp2.salary}")

Employee 1: Aditya kumar, Salary: $500000
Employee 2: Anil Raghavan, Salary: $600000
Total employees: 10

Employee 3: Mike Johnson, Email: mike.johnson@techcorp.com
Total employees: 11

Current raise amount: 40000
Raise amount set to 1.08
New raise amount: 1.08
After raise - Employee 1: $540000, Employee 2: $648000